{% extends 'base.html.twig' %}

{% block body %}

<h1>Fatal error</h1>

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ message }}
</div>

{% endblock %}