{% extends 'base.html.twig' %}

{% block body %}

<div class="col-xs-4">
	<div class="page-title">
		<h2>Existing accounts</h2>
	</div>

	{% if error %}
	<div class="error">{{ error.message }}</div>
	{% endif %}

<form action="{{ path('login_check') }}" method="post">

	<div class="form-group">
	<label for="username">Username:</label>
	<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
	</div>
	
	<div class="form-group">
	<label for="password">Password:</label>
	<input type="password" id="password" name="_password" class="form-control" />
	</div>
	
	<div class="checkbox">
	<label for="remember_me">		
		<input type="checkbox" id="remember_me" name="_remember_me" checked class="checkbox" />
		Keep me logged in
	</label>
	</div>
	
	<button type="submit" class="btn btn-primary">Login</button>
</form>

</div>

<!--
<div class="panel">
	<h2>Create a new account</h2>
	
	<span>
	<label for="username">Username:</label>
	<input type="text" id="username" name="_username" />
	</span>
	
	<span>
	<label for="email">Email:</label>
	<input type="text" id="email" name="_email" />
	</span>		
	
	<button type="submit">Create new account</button>
</div>
-->

<style>
	.error {
		color: red;
	}
	
	div {
		vertical-align: top;
	}
	
	label {
		display: block;
		margin-top: 7px;
	}
	
	
	input {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 7px;
	}
	
	
	.panel {
		display: inline-block;
		margin: 0px 25px;
	}
	
	
	
</style>
{% endblock %}