
@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Amaranth', sans-serif;
	margin: 0px;
}

/* Top menu bar */

#bar {
	background: #000000;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px 10px;	
}

#bar>ul>li>ul {
	background: #000000;
	color: #FFFFFF;
	padding: 5px 5px;
}

#bar li:hover {
	color: #f7f99b;
}


#bar a {
	color: white;
	text-decoration: none;
}



.language-flag {
	height: 12px;
	width: 20px;
}

li.mi-title {
	color: #f7f99b;	
}


/* Disable select */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	cursor: default;
}

/* Content area  */

.content {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

.content table {
	margin: 0 auto;	
}

.content table th {
	border-bottom: 1px solid black;
}


