{% extends 'base.html.twig' %}

{% block body %}

<p><h1>Your experiments</h1></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Experiment name</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for experiment in experiments %}
		<tr>
			<td>{{ experiment.name }}</td>
			<td><a class="btn-sm btn-primary" href="{{ path('admin_experiment_view', {'experiment': experiment.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
	</tbody>
{% endfor %}
</table>

<p>
	<a class="btn btn-primary" href="{{ path('admin_experiment_create') }}">
		<i class="glyphicon glyphicon-plus"></i> 
		Experiment
	</a>
</p>

{% endblock %}