{% extends 'base.html.twig' %}

{% block body %}

<p><h1>Your experiments</h1></p>

<table>
	<tr>
		<th>Experiment name</th>
		<th>Edit</th>
	</tr>
{% for experiment in experiments %}
	<tr>
		<td>{{ experiment.name }}</td>
		<td><a href="{{ path('admin_experiment_view', {'experiment': experiment.id}) }}">Edit</a></td>
	</tr>
{% endfor %}
</table>

<p><a href="{{ path('admin_experiment_create') }}">Create new experiment</a></p>

{% endblock %}