{% extends 'base.html.twig' %}

{% block body %}

<div class="page-header">
	<h1>{{ experiment.name }}</h1>
</div>

<div class="row">

	<div class="col-md-4">{% render(controller('AppBundle:ScreenAdmin:listByExperiment', {'experiment': experiment.id})) %}</div>
	<div class="col-md-4">{% render(controller('AppBundle:RoleAdmin:listByExperiment', {'experiment': experiment.id})) %}</div>

	<!-- <div class="col-md-4">
		<p><h2>Participation conditions</h2></p>

		<p>Everyone can participate.</p>

		<p>
			<a class="btn btn-primary">Add new rule</a>
		</p>
	</div>  -->

	<div class="col-md-4">
		<p><h2>Global scripts</h2></p>

		<div class="help-block">
			<p>Global scripts augment the experiment logic associated with
			individual screens, allowing separation of shared logic.</p>
		</div> 		
		
		<table class="table table-hover"> 
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">Default script</a></td>
					<td>JavaScript</td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<p>			
			<a class="btn btn-primary">
				<i class="glyphicon glyphicon-plus"></i>
				Script
			</a>
		</p>
	</div>

	<div class="col-md-4">
		<p><h2>Sessions</h2></p>

		<div class="help-block">
			<p>An overview of the current and past runs of the experiment.</p>
		</div> 		
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
	
			<tbody>
				<tr>
					<td>2014-02-06 10:50</td><td>Running</td><td><a href="">View</a></td>
				</tr>
	
				<tr>		
					<td>2014-02-04 14:50</td><td>Finished</td><td><a href="">Results</a></td>
				</tr>
	
				<tr>		
					<td>2014-02-02 16:50</td><td>Aborted</td><td><a href="">Details</a></td>
				</tr>
	
				<tr>		
					<td>2014-02-01 12:50</td><td>Finished</td><td><a href="">Results</a></td>		
				</tr>
			</tbody>
		</table>

		<p>
			<a class="btn btn-primary">
				<i class="glyphicon glyphicon-download"></i>
				Download dataset
			</a>
		</p>
	</div>

</div>

{% endblock %}