{% extends 'base.html.twig' %}

{% block body %}

<div>

	<h1>The experiment has finished</h1>
	
	<p>Thank you for participating! Take a look at our <a href="{{ path('experiments') }}">other experiments</a>.</p>

</div>

{% endblock %}