{% extends 'base.html.twig' %}

{% block body %}

<p><h1>Available experiments</h1></p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Experiment name</th>
			<th>Participate</th>
		</tr>
	</thead>
	<tbody>
		{% for experiment in experiments %}
		<tr>
			<td>{{ experiment.name }}</td>
			<td>
				<a class="btn-sm btn-primary" href="{{ path('experiment_run', {'experiment_id': experiment.id}) }}">
					<i class="glyphicon glyphicon-play-circle"></i>
				</a>
			</td>
		</tr>
	</tbody>
{% endfor %}
</table>

{% endblock %}